# 0.0 Imports

In [1]:
import pickle

import pandas as pd
import numpy as np

## 0.1 Help Functions

In [2]:
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## 0.2 Import dataset

In [3]:
df = C
df.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,currency,...,has_online_delivery,is_delivering_now,price_range,aggregate_rating,votes,name_country,custo_para_dois_corrigido,avalicao_texto,cuisines,nome_cor
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.01,14.45,Botswana Pula(P),...,0,0,3,4.60,619,Philippines,400.00,Excelente,Italian,Verde Escuro
1,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.02,14.56,Botswana Pula(P),...,0,0,4,4.70,469,Philippines,1127.27,Excelente,European,Verde Escuro
2,6304833,Manam,162,Makati City,"Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 2, San Lorenzo, Makati City, Makati ...",121.02,14.55,Botswana Pula(P),...,0,0,3,4.70,930,Philippines,254.55,Excelente,Filipino,Verde Escuro
3,18409457,Soban K-Town Grill,162,Makati City,"Level 3, Greenbelt 3, Ayala Center, Greenbelt,...","Greenbelt 3, San Lorenzo, Makati City","Greenbelt 3, San Lorenzo, Makati City, Makati ...",121.02,14.55,Botswana Pula(P),...,0,0,3,4.70,935,Philippines,472.73,Excelente,Korean,Verde Escuro
4,6318945,Nikkei,162,Makati City,"Unit GO3, Frabelle Business Center, 111 Rada S...",Legaspi Village,"Legaspi Village, Makati City",121.02,14.56,Botswana Pula(P),...,0,0,4,4.60,394,Philippines,581.82,Excelente,Japanese,Verde Escuro

# 1.0 Perguntas de negócio

In [4]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'currency',
       'has_table_booking', 'has_online_delivery', 'is_delivering_now',
       'price_range', 'aggregate_rating', 'votes', 'name_country',
       'custo_para_dois_corrigido', 'avalicao_texto', 'cuisines', 'nome_cor'],
      dtype='object')

## 1.1 Quantos restaurantes únicos estão registrados?

In [5]:
df['restaurant_id'].unique().shape[0]

6941

## 1.2 Quantos países únicos estão registrados?

In [6]:
df['name_country'].unique().shape[0]

15

## 1.3 Quantas cidades únicas estão registradas?

In [7]:
df['city'].unique().shape[0]

125

## 1.4 Qual o total de avaliações feitas?

In [8]:
df['avalicao_texto'].notnull().sum()

6941

## 1.5 Qual o total de tipos de culinária registrados?

In [9]:
df['cuisines'].unique().shape[0]

166