# 0.0 Imports

In [84]:
import pickle

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

## 0.1 Help Functions

In [85]:
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## 0.2 Import dataset

In [86]:
df = pickle.load(open('../src/data/processed/df01.pkl', 'rb'))
df.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,currency,...,has_online_delivery,is_delivering_now,price_range,aggregate_rating,votes,name_country,custo_para_dois_corrigido,avalicao_texto,cuisines,nome_cor
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.01,14.45,Botswana Pula(P),...,0,0,3,4.60,619,Philippines,400.00,Excelente,Italian,Verde Escuro
1,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.02,14.56,Botswana Pula(P),...,0,0,4,4.70,469,Philippines,1127.27,Excelente,European,Verde Escuro
2,6304833,Manam,162,Makati City,"Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 2, San Lorenzo, Makati City, Makati ...",121.02,14.55,Botswana Pula(P),...,0,0,3,4.70,930,Philippines,254.55,Excelente,Filipino,Verde Escuro
3,18409457,Soban K-Town Grill,162,Makati City,"Level 3, Greenbelt 3, Ayala Center, Greenbelt,...","Greenbelt 3, San Lorenzo, Makati City","Greenbelt 3, San Lorenzo, Makati City, Makati ...",121.02,14.55,Botswana Pula(P),...,0,0,3,4.70,935,Philippines,472.73,Excelente,Korean,Verde Escuro
4,6318945,Nikkei,162,Makati City,"Unit GO3, Frabelle Business Center, 111 Rada S...",Legaspi Village,"Legaspi Village, Makati City",121.02,14.56,Botswana Pula(P),...,0,0,4,4.60,394,Philippines,581.82,Excelente,Japanese,Verde Escuro

# 1.0 Perguntas de negócio

In [87]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'currency',
       'has_table_booking', 'has_online_delivery', 'is_delivering_now',
       'price_range', 'aggregate_rating', 'votes', 'name_country',
       'custo_para_dois_corrigido', 'avalicao_texto', 'cuisines', 'nome_cor'],
      dtype='object')

## 1.1. Qual o nome do país que possui mais cidades registradas?

In [88]:
pais_com_mais_cidade = df.loc[:,['name_country','city']].groupby('name_country').count().sort_values(by='city',ascending = False).reset_index()
pais_com_mais_cidade.iloc[0]['name_country']

'India'

## 1.2. Qual o nome do país que possui mais restaurantes registrados?

In [101]:
pais_com_mais_restaurantes = df.groupby('name_country').size().sort_values(ascending=False).reset_index()
pais_com_mais_restaurante = pais_com_mais_restaurantes.iloc[0,0]
# pode ser assim também
# pais_com_mais_restaurante = pais_com_mais_restaurantes.iloc[0]['name_country']
pais_com_mais_restaurante

'India'

## 1.3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [102]:
df['price_range'].unique()

array([3, 4, 2, 1], dtype=int64)

In [137]:
filtro_linha13 = df['price_range'] == 4
filtro_colunas13 = ['price_range','name_country','restaurant_id']
pais_mais_restaurantes_preco = (df.loc[filtro_linha13,filtro_colunas13].groupby('name_country').size().sort_values(ascending=False).reset_index())
pais_mais_restaurantes_preco.iloc[0,0]

'United States of America'

## 1.4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [152]:
pais_culinaria_distinto = df.groupby('name_country')['cuisines'].nunique().reset_index()
pais_culinaria_distinto.loc[pais_culinaria_distinto['cuisines'].idxmax()]['name_country']

'India'

## 1.5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [159]:
pais_quantidade_avaliacao = df.groupby('name_country')['avalicao_texto'].count().sort_values(ascending=False).reset_index()
pais_quantidade_avaliacao.iloc[0,0]

'India'

## 1.6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [162]:
pais_entregas = df.groupby('name_country')['is_delivering_now'].sum().sort_values(ascending=False).reset_index()
pais_entregas.iloc[0,0]

'India'

## 1.7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [164]:
pais_reservas = df.groupby('name_country')['has_table_booking'].sum().sort_values(ascending=False).reset_index()
pais_reservas.iloc[0,0]

'India'

## 1.8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [169]:
pais_avaliacoe = df.groupby('name_country')['votes'].mean().sort_values(ascending=False).reset_index()
pais_avaliacoe.iloc[0,0]

'Indonesia'

## 1.9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [172]:
pais_maior_nota = df.groupby('name_country')['aggregate_rating'].mean().sort_values(ascending=False).reset_index()
pais_maior_nota.iloc[0,0]

'Indonesia'

## 1.10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [173]:
pais_menor_nota = df.groupby('name_country')['aggregate_rating'].mean().sort_values(ascending=True).reset_index()
pais_menor_nota.iloc[0,0]

'Brazil'

## 1.11. Qual a média de preço de um prato para dois por país?

In [175]:
pais_maior_nota = df.groupby('name_country')['custo_para_dois_corrigido'].mean().sort_values(ascending=False).reset_index()
pais_maior_nota

                name_country  custo_para_dois_corrigido
0                  Singapure                     707.19
1                Philippines                     446.48
2                  Australia                     355.98
3   United States of America                     275.09
4                    England                     271.94
5                      Qatar                     238.36
6                     Canada                     209.31
7       United Arab Emirates                     207.73
8                 New Zeland                     188.35
9                     Brazil                     138.81
10                 Indonesia                      97.19
11              South Africa                      89.27
12                     India                      41.81
13                 Sri Lanka                      39.27
14                    Turkey                      23.38