# 0.0 Imports

In [17]:
import pickle

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import plotly.express as px

## 0.1 Help Functions

In [5]:
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## 0.2 Import dataset

In [6]:
df = pickle.load(open('../src/data/processed/df01.pkl', 'rb'))
df.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,currency,...,is_delivering_now,price_range,aggregate_rating,rating_color,votes,name_country,custo_para_dois_corrigido,avalicao_texto,cuisines,nome_cor
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.01,14.45,Botswana Pula(P),...,0,3,4.60,3F7E00,619,Philippines,400.00,Excelente,Italian,Verde Escuro
1,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.02,14.56,Botswana Pula(P),...,0,4,4.70,3F7E00,469,Philippines,1127.27,Excelente,European,Verde Escuro
2,6304833,Manam,162,Makati City,"Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 2, San Lorenzo, Makati City, Makati ...",121.02,14.55,Botswana Pula(P),...,0,3,4.70,3F7E00,930,Philippines,254.55,Excelente,Filipino,Verde Escuro
3,18409457,Soban K-Town Grill,162,Makati City,"Level 3, Greenbelt 3, Ayala Center, Greenbelt,...","Greenbelt 3, San Lorenzo, Makati City","Greenbelt 3, San Lorenzo, Makati City, Makati ...",121.02,14.55,Botswana Pula(P),...,0,3,4.70,3F7E00,935,Philippines,472.73,Excelente,Korean,Verde Escuro
4,6318945,Nikkei,162,Makati City,"Unit GO3, Frabelle Business Center, 111 Rada S...",Legaspi Village,"Legaspi Village, Makati City",121.02,14.56,Botswana Pula(P),...,0,4,4.60,3F7E00,394,Philippines,581.82,Excelente,Japanese,Verde Escuro

In [22]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'currency',
       'has_table_booking', 'has_online_delivery', 'is_delivering_now',
       'price_range', 'aggregate_rating', 'rating_color', 'votes',
       'name_country', 'custo_para_dois_corrigido', 'avalicao_texto',
       'cuisines', 'nome_cor'],
      dtype='object')

# 1.0 Teste página_cliente

In [7]:
qtde_total_votos = df['votes'].sum()
qtde_total_votos

4195431

In [20]:
voto_pais = df.loc[:,['votes','name_country']].groupby('name_country').sum().sort_values(by='votes', ascending=False).reset_index()
#px.bar(voto_pais, x='name_country', y='votes')
voto_pais

                name_country    votes
0                      India  2800199
1   United States of America   523414
2       United Arab Emirates   177564
3                  Australia   130154
4                     Canada   105018
5                     Turkey   100193
6                  Indonesia    89026
7               South Africa    81939
8                 New Zeland    52532
9                Philippines    48398
10                   England    39956
11                     Qatar    30106
12                 Sri Lanka    12133
13                    Brazil     2977
14                 Singapure     1822

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]